/* Colors and fonts*/

body {
  background-color: #FFFFFF;
  color: #303938;
  font-family: "Lora", serif;
  font-size: 17px;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  color: #008578;
}

h1{	
  font-weight: 700;
  font-style: italic;
  letter-spacing: 10px;
  font-size: 50px;
}

img{
  width: 200px;
}

h2{
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

a{
  text-decoration: none;
  color: #303938;
  font-weight: bold;
}

a:hover {
  color: #DBC1AA;
}



/* Custom design with class*/

.container {
  width: 900px;
  margin: 40px auto;
}

@media (max-width: 900px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 700px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 500px;
  }
}

.box-white {
  background: white;
  padding: 60px;
  margin: 50px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0, 0.3);
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background-color: #008578;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: white;
  color: #008578;
  font-size: 14px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
display: inline;
padding: 10px;
}
.list-inline i {
  font-size: 40px;
  color: #303938;
}
.list-inline i:hover {
  font-size: 35px;
  color: rgb(210,210,210);
}


/* Design adjustments with id*/

#introduction p{
margin-bottom: 40px;
}